/*# Empty CSS file for your own CSS*/




 /*Job listing*/
 .listing{
       padding: 50px 0 10px 0;
 }
 .listing h4{
    text-align: center;
    font-size:2em;
    color: #337ab7;
    padding-bottom: 30px;
 }
.listing h3{
    text-align: left;
    color: #449d44;
    font-size:1.2em;
}

@media(max-width:768px){

   .header{
    text-align:center;
    padding-top:20%;
   }

    .header h4{
        font-size:2.9em;
         padding-top:10%;
    }
    .header p{
        font-size:1em;
   }
    .header .btn{
        padding:5px 12px 5px 12px;
    }
    .header img{
        padding-top:10%;
    }
    .navbar-header .navbar-brand{
       font-size:1.1em;
    }
  }


blockquote {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    font-size: 15.5px;
    border-left: 2px solid #009DE0 !important;
    background-color: #F2F2F2;
}


.fa.fa-quote-right {
    color: #009DE0;
}
.fa.fa-quote-left {
    color: #009DE0;
}





/*contact*/
.contact{
  /*padding: 100px 0 100px;
  text-align: center;*/
}
.contact h3{
  font-size: 2em;
  color:white;
  font-family: 'Love Ya Like A Sister', cursive;
  /*padding-bottom: 25px;*/
}
.contact .fa{
  color: #F8F8F8;
  padding: 20px 10px 40px;
}





/**
      Header
*/
h1, p{

    font-family: 'Droid Sans', sans-serif;
}
/* Navigation*/
.navbar{
    border-bottom: 3px solid #97ccf3;
    font-family: 'Lato', sans-serif;
    padding: 10px 0px 10px 0px;
}  /*Changing the nav background and adding borders*/


.navbar a {
    color: #0A57A7 !important;
} /*changing the color of the nav*/


.navbar a:hover{
    color: #ffffff !important;
    background-color: #97ccf3 !important;
} /*giving hover effects on the nav*/

.navbar-brand{
    color: white !important;
    font-size:1.2em;
}
/* Navbar Active*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #080808 !important;
    background-color:  #ffffff !important;
}


/*Nav BTN*/
.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
    color: #FFFFFF;
    background-color: #845635;
    border-color: #FFFFFF;

}

.btn-secondary {
    color: #FFF;
    /*background-color: #4DA0F4 !important;*/
    border-color: #FFFFFF !important;
    padding: 5px 30px  5px  30px;
    border-radius: 0;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #6c757d;
    background-color: #dededee3 !important;
    border-color: #FFFFFF !important;
}
.btn-secondary:hover {
    color: #6c757d;
    background-color:#dededee3 !important;
    border-color:#FFFFFF !important;
}


/*Header*/
.header{
    padding-top: 50px;
    border-bottom: 2px solid #c9c9c9;

}

.header h4 {
    color: #449D44; !important;
    /*font-family: 'Love Ya Like A Sister', cursive*/;
    font-size:3.5em;
    margin-bottom: 30px;

}

.header p{

    color:#ffffff;
    font-size:1.3em;
    font-family: 'Droid Sans', sans-serif;
}

.header .btn{
    padding: 5px 50px  5px  50px;
    border-radius: 0;
}


/** Slider */
.imgoverlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height:650px;
    width: 100%;
    position: absolute;
}

.divoverlay{
    height: 250px;
    width: 800px;
    background-size: cover;
    background-color: rgba(118,103,14,0.3);
    margin-top: 100px;
    margin-left: 470px;
    font-size: larger;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    border: 2px solid #5cd08d;
}
.divoverlay h4{
   padding-top:50px !important;
}

.divoverlay .btn-info{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid #17a2b8;
    font-weight: bolder;
    font-size: larger;
}

.divoverlay .btn-warning{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffc107;
    font-weight: bolder;
    font-size: larger;
    color: #FFFFFF;
}
.divoverlay .btn-success {
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid #28a745;
    font-weight: bolder;
    font-size: larger;
}
.delsu{
    height: 50px;
    background-color: #0A57A7;
}


/** Department */

.shrink:hover
{
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}

.fas.fa-building{
    color: #0A57A7;
}
.fas.fa-graduation-cap{
    color: #0A57A7;
}
.fas.fa-user{
    color: #0A57A7;
}
/**      Little Banner */
.amasscos{
    background: #20567d73;
    height:200px;
    margin-top: 40px;
}

.amasscos .btn-info{
    width: 250px;
    height: 60px;
    border-radius: 0;
    border: 2px solid #FFFFFF ;
    background-color: transparent;
    font-weight: bolder;
    font-size: larger;
}

.amasscos .btn-info:hover,
.amasscos .btn-info:focus{
    background-color: #17a2b8;
}


/**     About us */

.about{
    padding: 30px 0 50px;
}
.about .btn-info{
    width: 160px;
    height: 50px;
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #17a2b8;
    color: #17a2b8;
    font-weight: bolder;
    font-size: larger;
}

/**
    Main-Research Or Cards
*/
.centerimgoverlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height:auto;
    width: 100%;
    position: absolute;
}

.fadeout {
    opacity:1;
}
.fadeout:hover {
    opacity:0.8;
}

.fadeout .btn-success{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid #28a745;
    font-weight: bolder;
    font-size: larger;
}

.fadeout .btn-info{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid #17a2b8;
    font-weight: bolder;
    font-size: larger;
}

.fadeout .btn-warning{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffc107;
    font-weight: bolder;
    font-size: larger;
}

/**  Alumni */
.press{
    padding:10px 0 5px;
    text-align:center;
    border-bottom:  1px solid #17a2b8;
    border-radius: 0;
}

.press h1{
    font-size:2em;
    padding-bottom:15px;
    color: #337ab7;
}
.press img{
    opacity:1;
    padding-bottom:5px;
}
.press a:hover img{
    opacity: 0.5;
}

.alumni{
    margin-top: 30px;
    margin-bottom: 50px;
}

.alumni .btn-info{
    width: 160px;
    height: 50px;

    font-weight: bolder;
    font-size: larger;
}

/**
    Subscribe
 */
.subscribe{
    background: #e3f2fd;
    height:200px;
    margin-top: 40px;
}

.subscribe .btn-info {
    width: 250px;
    height: 60px;
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #17a2b8;
    color: #17a2b8;
    font-weight: bolder;
    font-size: larger;
}

.subscribe .btn-info:hover,
.subscribe .btn-info:focus,
.subscribe .btn-info:active{
    border: 2px solid #FFFFFF ;
    background-color: #17a2b8;
    color: #FFFFFF;

}

/**
      Footer
*/

.footer{
    background:#202429;
    padding:10px 0 10px;
    color: white;
    border-top: 2px solid #0A57A7;
}
.footer h1{
    font-family:  'Lato', sans-serif;
    font-size: 1.5em;
}
.footer p{
    font-size: 0.9em;
    color:#f2f2f2;
}
.footer a{
    color:#f2f2f2;
}
.bt-footer{
    background-color: black;
}
.bt-footer a{
    color: #ffffff;
}
.fab.fa-facebook-f{
    color: #0A57A7;
}
.fab.fa-twitter{
  color: #00acee;
}


/**
Profile Validation
 */

.balert-success {
    background-color: #e9f7f1;
    /* border-color: transparent; */
    color: #004025;
}

.balert {
    padding: 16px;
    margin-bottom: 21px;
    border: 1px solid #36b9cc;
    text-align: left;
    position: relative;
}
.palert-danger{
    background-color: #ffefed;
    color: #de7163;
    border-color: #de7163;
}
.palert{
    border: 1px solid #dc3545;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px; }

.placeholder h2 {
    margin-bottom: 0px; }

.donut {
    width: 100%; }

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto; }

.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px; }

#easypiechart-blue .percent {
    color: #30a5ff; }

#easypiechart-teal .percent {
    color: #1ebfae; }

#easypiechart-orange .percent {
    color: #ffb53e; }

#easypiechart-red .percent {
    color: #ef4040; }
.jumbotron {

    margin-bottom: 0px;

}
